# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
venv/

# Logs
logs/
wraith_logs/
*.jsonl

# Secrets
*.pem
*.key
.env
wraith-admin_credentials.csv

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db